h1 {
    margin: auto;
    text-align: center;
}

.title {
    position: relative;
    margin: 15px auto;
    width: 300px;
    height: 30px;
    color: rgb(64, 69, 163);
    text-align: center;
    font-size: 15px;
    transition: all 1.5s ease-in-out;

    transform-style: preserve-3d;
}

.title>div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 30px;
    border: 1px solid rgba(27, 181, 228, 0.815);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;

    backface-visibility: hidden;
}

.title .front {
    background: linear-gradient(249deg, #0077ff, #00f9ff);
    transform: translateZ(86px);
}

.title .left {
    background: linear-gradient(249deg, #0077ff, #00f9ff);
    transform: rotateY(120deg) translateZ(86px);
}

.title .right {
    background: linear-gradient(249deg, #0077ff, #00f9ff);
    transform: rotateY(240deg) translateZ(86px);
}

.line {
    display: flex;
    justify-content: center;
}

.line button {
    padding: 2px;
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    background-color: rgba(44, 157, 233, 0.61);
    font-size: 18px;
    transition: all 1s linear;
}

button :focus {
    outline: none;
}

button:hover {
    border: 1px solid #9f2e06;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}