h1 {
    margin: auto;
    text-align: center;
}

.line {
    display: flex;
    justify-content: center;
}

.line button {
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: white;
    border: 1px solid #999;
}

.line button :focus {
    outline: none;
}